# Docker Registry
IMAGE_REGISTRY=480126395291.dkr.ecr.ap-east-1.amazonaws.com/igaming/

# MariaDB
MARIADB_ROOT_PASSWORD=root_password
MARIADB_DATABASE=oracle_db
MARIADB_USER=oracle
MARIADB_PASSWORD=oracle_password

# MongoDB
MONGO_INITDB_ROOT_USERNAME=oracle
MONGO_INITDB_ROOT_PASSWORD=oracle_password
MONGO_INITDB_DATABASE=oracle_mdb

# ClickHouse
CLICKHOUSE_DB=oracle_analytics
CLICKHOUSE_USER=oracle
CLICKHOUSE_PASSWORD=oracle_password